---
import DownloadLink from "../../components/DownloadLink.astro";
import MaterialLink from "../../components/MaterialLink.astro";
import Minutes from "../../components/Minutes.astro";
import PersonLink from "../../components/PersonLink.astro";
import { productions } from "../../data";
import SidebarLayout from "../../layouts/Sidebar.astro";
import type { Production } from "../../types/Production";
import { getInvolved } from "../../util/getInvolved";

export async function getStaticPaths() {
  return Object.values(productions).map((p) => ({
    params: { productionId: p.id },
    props: { production: p },
  }));
}

const { production } = Astro.props as { production: Production };
const involved = getInvolved(production);
---

<SidebarLayout title={production.name}>
  <h1>{production.name} {production.year}</h1>

  <nav>
    <DownloadLink location={`${production.year}/Manuskript.pdf`}
      >Manuskript</DownloadLink
    >
    <DownloadLink location={`${production.year}/Aktoversigt.pdf`}
      >Aktoversigt</DownloadLink
    >
    <DownloadLink location={`${production.year}/Rolleoversigt.pdf`}
      >Rolleoversigt</DownloadLink
    >
  </nav>

  <section>
    <h2>Akter</h2>

    {
      production.acts.map((act) => (
        <section>
          <h3>
            {act.title} <Minutes minutes={act.minutes} />
          </h3>

          <ol>
            {act.materials.map((materialId) => (
              <li>
                <MaterialLink materialId={materialId} />
              </li>
            ))}
          </ol>
        </section>
      ))
    }
  </section>

  <section>
    <h2>Medvirkende</h2>

    <ul class="involved">
      {
        involved.map((i) => (
          <li>
            <PersonLink aliasId={i} />
          </li>
        ))
      }
    </ul>
  </section>
</SidebarLayout>

<style>
  nav {
    display: flex;
    gap: 24px;
  }
  ol,
  ul {
    padding: 0;
    list-style: none;
  }

  ul.involved {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  }
</style>
