---
import type { MaterialLocationFolder } from "../types/Material";
import Icon from "./Icon.astro";

export interface Props {
  location:
    | `${number}/${string}.pdf`
    | `${number}/${MaterialLocationFolder}/${string}.pdf`;
  downloadType?: "tex" | "pdf";
}

const { location } = Astro.props;
const url = `https://github.com/dikurevy/Public-Archive/blob/master/${location}`;
---

<a href={url}><Icon type={"pdf"} /><slot /></a>

<style>
  a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    transform: translateX(0);
    background: rgba(0, 0, 0, 0);
    transition: all 150ms;
  }

  a:hover {
    background: rgba(0, 0, 0, 0.05);
    transform: translateX(8px);
  }
</style>
